* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
} 

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(177, 171, 160);
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
}

body {
    background-color: rgb(43, 43, 43);
    overflow-x: hidden;
}

header {
    background-color: black;
    display: grid;
    height: 45px;
    place-items: center;
    transition: top 1s;
}

#cuadro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 450px;
    font-size: 14px;
    color: white;
    position: relative;
    right: 200px;
}


nav {
    display: flex;
    gap: 35px;
}

.clss {
    float: right;
    width: 200px;
    display: inline;
    position: relative;
    left: 500px;

}

nav a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: skyblue;
    transition: 1.5s;
}

#back {
    background-image: url(../imagenes/viajee.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 680px;
}

#imagen {
    width: 130px;
    position: relative;
    top: 7px;
    right: -30px;
}

#ins {
    width: 25px;
    position: relative;
    right: 38rem;
    top: -45px;
    text-align: right;
    cursor: pointer;
}

#fbb {
    width: 25px;
    position: relative;
    right: 38rem;
    top: -45px;
    text-align: right;
    cursor: pointer;
}

hr {
    margin: auto;
    position: relative;
    top: 8px;
    width: 87%;
    border-color: black;
}

.pe {
    font-family: "Shadows Into Light", serif;
   height: 700;
   font-style: normal;
   position: relative;
   top: 170px;
   word-spacing: 10px;
}

.aaa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: 20px;    
}

.aaa a:hover {
    color: rgb(64, 181, 228);
}

.pi {
    position: relative;
    top: 170px;

}

.blanco {
    background-color: white;
    height: 750px;
}

.po {
    font-family: "Shadows Into Light", serif;
    height: 700;
    font-size: normal;
    word-spacing: 15px;
    text-align: center;
    position: relative;
    top: 50px;
}

.pu {
    text-align: center;
    position: relative;
    top: 55px;
    font-size: 13px;

}

.image {
    width: 550px;
    height: 350px;
    border-radius: 3px;
    position: relative;
    top: 120px;
    left: 315px;
    cursor: pointer;
}

.image:hover {
    box-shadow: 0 0.1rem 0.9rem rgba(0, 0, 0, 5);
    transition: all 0.6s ease;
}

.imago {
    width: 550px;
    height: 350px;
    border-radius: 3px;
    position: relative;
    top: 120px;
    left: 330px;
    cursor: pointer;
}

.imago:hover {
    box-shadow: 0 0.1rem 0.9rem rgba(0, 0, 0, 5);
    transition: all 0.6s ease;
}

.madri {
    color: white;
    position: relative;
    left: 560px;
    top: 80px;
    font-size: 20px;
    cursor: pointer;
}


.madri:hover {
    color: rgb(64, 181, 228);
    transition: 1s;
}

.muni {
    color: white;
    position: relative;
    left: 1130px;
    top: 55px;
    font-size: 20px;
    cursor: pointer;
}

.muni:hover {
    color: rgb(64, 181, 228);
    transition: 1s;
}

.estatua {
    background-image: url(../imagenes/estatua.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 570px;
}

.poe {
    text-align: center;
    font-family: "Shadows Into Light", serif;
    height: 700;
    font-style: normal;
    position: relative;
    top: 150px;
    word-spacing: 10px;
}

.pae {
    text-align: center;
    position: relative;
    top: 150px;
    font-size: 13px;


}

.popa {
    background-color: white;
    height: 400px;
}

.pepe {
    text-align: center;
    font-family: "Shadows Into Light", serif;
    height: 700;
    font-style: normal;
    position: relative;
    top: 70px;
    word-spacing: 10px;
}